<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>77242189071-5q0qer4plpud5q8i36eto2hrcb38uj5c.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.77242189071-5q0qer4plpud5q8i36eto2hrcb38uj5c</string>
	<key>API_KEY</key>
	<string>AIzaSyDSe81H792aqKytBcLaB2jEdFrsUcAqTw0</string>
	<key>GCM_SENDER_ID</key>
	<string>77242189071</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>clc.wishListApp</string>
	<key>PROJECT_ID</key>
	<string>wish-list-app-42c60</string>
	<key>STORAGE_BUCKET</key>
	<string>wish-list-app-42c60.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:77242189071:ios:6914fd0211991671656a7a</string>
</dict>
</plist>